.error{
	color : red;
}

.list {
	color : orange;
}

.boxed{
	border: 1px green;
}

h2{
	color : green;
}

.skull{
	width : 20px;
}

.card{
	background-color: orange;
	min-width: 100%;
	min-height: 200px;
	display: flex;
	overflow-x: auto;
}

.card--content{
	min-width: 200px;
	margin: 5px;
}