<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Scheduler</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <img src="/static/images/logo.png", alt='Schedule Maker'>

    <div>
        <a href="{{url_for('home')}}">Home</a>
        {%if current_user.is_anonymous%}
            <a href="{{url_for('register')}}">Register</a>
            <a href="{{url_for('login')}}">Login</a>
        {%else%}

                {%if current_user.level == 2%}
                    <a href="{{url_for('add_worker')}}">Add Worker</a>
                {%endif%}
                {%if current_user.level > 0%}
                    <a href="{{url_for('edit_worker')}}">Edit Worker</a>
                {%endif%}
            <a href="{{url_for('user', username = current_user.username)}}">{{current_user.username}}</a>
            <a href="{{url_for('logout')}}">Logout</a>
        {%endif%}
    </div>

    {% with messages = get_flashed_messages() %} 
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{message}}</li> 
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {%block content%}{%endblock content%}
</body>
</html>