{%extends 'layout.html'%} {%block content%}

<table>
  <tr valign="top">
    <td>
      {%include 'components/_user_thumbnail.html'%} >
    </td>
    <td>
      <h1>{{user.username}}</h1>
      <p>{{user.first_name.title()}} {{user.last_name.title()}}</p>
      <p>{{user.get_position().title()}}</p>
    </td>
  </tr>
</table>

{%for day in user.availability%}
<div>
  <h1>{{day.get_weekday().title()}}</h1>
  <p>
    {{day.start_time}}:{{day.end_time}}
  </p>
</div>

{%endfor%} {%if current_user.position%}
<button type="button" class="btn btn-info btn-block">Delete User</button>

{%endif%}
<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';"
    >&times;</span
  >
  This is an alert box.
</div>

<a href="#">Edit Availability</a>
{%endblock content%}
